body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #deeff5;
}

#container {
    width: 1500px;
    padding-left: 20px;
}

#time {
    text-align: center;
    font-size: 200%;
}

.block {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 10px 20px;
}

#stopwatchOption, #ctdwnTimerOption {
    margin-left: 100px;
}

#startStopButton, #resetButton, #startPauseButton, #debugOnOff, #clearOutput {
    text-align: center;
    background-color: #d3d3d3;
    border: 1px solid #000;
    padding: 3px;
}

#startStopButton, #resetButton, #startPauseButton {
    display: inline-block;
    width: 50px;
}

#resetButton, #clearOutput, .entry {
    margin-left: 20px;
}

#innerBlock {
    height: 35px;
}

#stopwatchOption:hover, #ctdwnTimerOption:hover, #startStopButton:hover, #resetButton:hover, #startPauseButton:hover, #debugOnOff:hover, #clearOutput:hover{
    cursor: pointer; 
}

#prompt {
    color: #ff0000;
}

.info, label {
    font-weight: bold;
}

hr {
    border: solid 1px #a9a9a9;
}